.select{
    width: 190px;
    margin: 1rem 0;
}

.selectContainer{
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
}

.selectContainer span{
    margin-right: 1rem;
    font-weight: bold;
}